/* You can add global styles to this file, and also import other style files */


body{    

    background: url('/assets/background.jpg');
    
    }
    .my-pagination {
        
       
            color: #FFC400;
            background-color: #000000;
            border-color: #FC8F00;    
    
    }