<div class="container" id="artcontainer">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="name">Username</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <span class="form-text form-validation" *ngIf="form.get('name').errors?.required && form.get('name').touched">Este campo es requerido</span>
          </div>
      
          <div class="form-group row">
            <label for="password">Password</label>
            <input type="text" id="password" class="form-control" formControlName="password">
            <span class="form-text form-validation" *ngIf="false">Error</span>
          </div>
      
          <div class="form-group row">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
            <span class="form-text form-validation" *ngIf="false">Error</span>
          </div>
          
          <div class="form-group row">
            <label for="confirmEmail">Confirmar Email</label>
            <input type="text" id="confirmEmail" class="form-control" formControlName="confirmEmail">
            <span class="form-text form-validation" *ngIf="false">Error</span>
          </div>
                
          <div class="form-check">
              <label for="terminos" class="form-check-label">
                <input type="checkbox" id="terminos" class="form-check-input" formControlName="acepto">
              Acepto los terminos y condiciones</label>
            <span class="form-text form-validation" *ngIf="false">Error</span>
          </div>
      
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
          <button class="btn btn-danger" type="reset" [disabled]="form.pristine">Cancelar</button>
        </form>
    
      
        <p>{{ personForm.value | json }}</p>
        <p>{{ personForm.valid }}</p>

        <span *ngFor= "let user of users">
          <div>
            <ngb-accordion>
               <ngb-panel title="{{user.username}}">
              
    
                  <ng-template ngbPanelContent>
                      <div class="card">
                          <div class="card-header">
                            <p>{{user.username}} : </p>
                          </div>
                          <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p> name:  {{user.name}} </p>
                                <p> email: {{user.email}}</p>
                                <p>phone: {{user.phone}} </p>
                                <hr>
                              <footer> website: {{user.website}} </footer>
                            </blockquote>
                          </div>
                        </div>
                       
                  
                  </ng-template>
             
                </ngb-panel>
              </ngb-accordion>
            </div>
    
            </span>     
  




</div>
<div class="col"></div>
</div>
</div>